<img src="/images/homeSlider.jpg" alt="">

<div id="about"> 
        Ergon is a web application designed to help customers find and connect with local blue collar 
        service providers. <br><br>
         Our goal is to provide an avenue for a seamless experience between clients and businesses.

</div>