<img src="/images/homeSlider.jpg" alt="">

<div id="about"> 
<<<<<<< HEAD
        Ergon is a web application designed to help connect customers with local blue colar services rangeing from, <br>
        welding, and plumbing to electritians, and trucking. Our goal is to help local people connect with local<br>
<<<<<<< HEAD
        buisnesses, and to ensure that both parties have a seemless experiance while contracting short work. Ergon <br>
        works as an intermediate for workers to come together, and exchange their services. This is done through our <br>
        aplication, which allows buisnesses to market their services, and for potential clients to look through each<br>
        of them, sorted by industry, and help clients to find the best fit them, and their needs. We here at Ergon <br>
        are commited to honest transactions between both parties, and hope that freelancers, buisnesses, and clients<br>
        alike will think of us when they need work or need work done!
    </wrapper>
=======
        buisnesses, and to ensure that both parties have a seemless experiance while contracting short work. We <br>
    
>>>>>>> 93d693116a660110190132019eb82b72a1a56794
=======
        Ergon is a web application designed to help customers find and connect with local blue collar 
        service providers. <br><br>
         Our goal is to provide an avenue for a seamless experience between clients and businesses.

>>>>>>> b42271de83892dc37b3da450a059c0784d69c683
</div>