<img src="/images/homeSlider.jpg" alt="">

<div id="about"> 
        Ergon is a web application designed to help connect customers with local blue colar services rangeing from, <br>
        welding, and plumbing to electritians, and trucking. Our goal is to help local people connect with local<br>
        buisnesses, and to ensure that both parties have a seemless experiance while contracting short work. We <br>
    
</div>