<img src="/images/homeSlider.jpg" alt="">

<body>
<div id="wrapper"> 
        Ergon  is an app that works like a social channel  to help freelance blue collar workers to find clients and clients to find skilled laborers. Our app allows for both clients and freelance businesses to create accounts. Clients are able to search for services with or without an account.  Businesses are able to publish a profile for their business describing their services and how to get into contact with them. When customers search for a service, they are shown a list of businesses that provide the service, then they are able to view business profiles and choose the one which suits their needs. 
The home page of the website has a “login” button in the corner, which will direct users to either create or log in to their account. After logging in, users will then be able to create or edit their business profile. Admins will be able to view a table of all users and will be able to edit and delete them. These pages are still a work in progress as we are working to clean up the functionality and the css. 
If you would like to access the app as a client, feel free to create an account and look through the provided services. You will also be able to create a business account and create a profile. 
If you would like to view the page as an admin, feel free to login with username 123@123.com and password 123. As an admin you will be able to view the users table. Again, we plan to make this page look much prettier before our final submission. 

</div>
</body>
</html>