<html lang="en">
<head>
    <title> ERGON Blue Collar Services</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<h1> ERGON </h1>

    <nav>
        
            <a href="/">Home</a> &nbsp;
            <a href="/about">About</a> &nbsp;
            <a href="/services">Search Services</a> &nbsp;
                <!-- <ul>
                    <li><a href="/services/construction">Construction</a></li>
                    <li><a href="/services/electrician">Electrician</a></li>
                    <li><a href="/services/mechanic">Mechanic</a></li>
                    <li><a href="/services/plumbing">Plumbing</a></li>
                    <li><a href="/services/transportation">Transportation</a></li>
                    <li><a href="#">Coming Soon</a></li>
                </ul> -->
            
            
            
            <a href="/login">Login/Sign Up</a>&nbsp;
            <a href="/users">Users</a>
            <% if (loggedIn) { %>
            <a href="/profile">Profile</a>
            <% } %> 
            <!-- <li><a href="myProjects">My Projects</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="inbox">Inbox</a></li>
            <li><a href="invoices">Invoices</a></li> -->
    </nav>

</html>
<%- body %>

