<html lang="en">
<head>
    <title> ERGON Blue Collar Services</title>

</head>
<header>
    <nav>
        <p><a href="/"><b>ERGON</b></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Search Services</a>
                <ul>
                    <li><a href="services/plumbing">Plumbing</a></li>
                    <li><a href="electrician">Electrician</a></li>
                    <li><a href="services/mechanic">Mechanic</a></li>
                    <li><a href="services/plumbing">Plumbing</a></li>
                    <li><a href="services/transportation">Transportation</a></li>
                    <li><a href="#">Coming Soon</a></li>
                </ul>
            </li>
            <li><a href="login">Login/Sign Up</a></li>
            <li><a href="users">Users</a></li>
            <!-- <li><a href="myProjects">My Projects</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="inbox">Inbox</a></li>
            <li><a href="invoices">Invoices</a></li> -->
            
    
        </ul>
    </nav>
</header>


</html>
<%- body %>

