<!-- <html lang="en">
<head>
    <meta charset="UTF-8"
    <title> ERGON Blue Collar Services</title>
    <link rel="stylesheet" href="./css/style.css"

</head>
<body>
    <nav>
        <p>ERGON</p>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Services.html">Services</a>
                <ul>
                    <li><a href="Plumbing.html">Plumbing</a></li>
                    <li><a href="Construction.html">Construction</a></li>
                    <li><a href="Electrician.html">Electrician</a></li>
                    <li><a href="Mechanics.html">Mechanics</a></li>
                    <li><a href="Trucking.html">Trucking</a></li>
                    <li><a href="#">Maybemore</a></li>
                </ul>
            </li>
            <li><a href="My Projects.html">My Projects</a></li>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="Inbox.html">Inbox</a></li>
            <li><a href="Invoices.html">Invoices</a></li>
            <li><a href="LoginSignUp.html">Login/Sign Up</a></li>
    
        </ul>
    </nav>
   
</body>


</html> -->
<%- body %>

