<img src="/images/homeSlider.jpg" alt="">

<div> 
    <img src="images/homeSlider.jpg" alt="">
    <wrapper>
        <table class="table">
            <tr>
              <th>Email</th>
              <td>
                <%= user.email %>
              </td>
            </tr>
            <tr>
              <td>
                <%= user.accountType %>
              </td>
            </tr>
          </table>
    </wrapper>
</div>