<img src="/images/homeSlider.jpg" alt="">

<div> 
    <img src="images/homeSlider.jpg" alt="">
    <wrapper>
        Bring Workers Together Since 2021
        <br> 
        Needs Authentication
    </wrapper>
</div>