<!-- <img src="/images/homeSlider.jpg" alt=""> -->

<div> 
    <!-- <img src="images/homeSlider.jpg" alt=""> -->
    <wrapper>
        <table class="table">
            <tr>
              <th>Email</th>
              <td>
                <%= user.email %>
              </td>
            </tr>
            <tr>
              <th> Account Type</th>
              <td>
                <%= user.accountType %>
              </td>
            </tr>
          </table>
          <% if (user.accountType === "Business" && !user.hasBusinessProfile) { %> 
            <a href="<%= `/users/createBusinessProfile/${user._id}` %> ">
            <button>Create Business Profile</button>
            <% } %> 
          </a>
            

        
    </wrapper>
</div>