<!-- <img src="/images/homeSlider.jpg" alt=""> -->

<div> 
    <!-- <img src="images/homeSlider.jpg" alt=""> -->
    <wrapper>
      <h1>User Profile</h1>
        <table class="table">
            <tr>
              <th>Email</th>
              <td>
                <%= currentUser.email %>
              </td>
            </tr>
            <tr>
              <th> Account Type</th>
              <td>
                <%= currentUser.accountType %>
              </td>
            </tr>
          </table>
          <% if (currentUser.accountType === "Business" && currentUser.businessProfileId ) { %> 
            <a href="<%= `/users/createBusinessProfile/${currentUser._id}` %> ">
            <button>Create Business Profile</button>
            <% } %> 
          </a>
          <% if (currentUser.businessProfileId) { %> 
          <br> 
          <h1>
            Business Profile
          </h1>
          


          <% } %> 

          
            

        
    </wrapper>
</div>