<div> 
    <img src="images/homeSlider.jpg" alt="">
    <wrapper>
        <li><a href="/services/construction">Construction</a></li>
        <li><a href="/services/electrician">Electrician</a></li>
        <li><a href="/services/mechanic">Mechanic</a></li>
        <li><a href="/services/plumbing">Plumbing</a></li>
        <li><a href="/services/transportation">Transportation</a></li>
    </wrapper>
</div>