

<!-- Changes before -->

<div> 
    <img src="/images/homeSlider.jpg" alt="">
    <wrapper>
        Bring Workers Together Since 2021
    </wrapper>
</div>

<!-- Changes after -->

<h2 class="center">Users Table</h2>
<div class="center">
  <a class="button" href="/users/new">Create User</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(users => { %>
    <tr>
      <td>
        <a href="<%= `/users/${users._id}` %>">
          <%= uses.email %>
        </a>
      </td>
      
      <td>
        <a href="<%=`users/${users._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `users/${users._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

