*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(2, 2, 36);
    background-color: rgb(247, 242, 242);
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 270;
    /* border-top: 2px solid rgb(2, 2, 36); */
}
h2 {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 242, 242);
    text-align: center;
    padding-bottom: 17px;
    color: rgb(16, 16, 141);
    font-size: 20px;
    font-weight: 100;

}

nav{
    background-color: rgb(247, 242, 242);
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(2, 2, 36);
    height: 45px;
    padding-top: 15px;
    white-space: nowrap;
    
}

nav a {
    color: rgb(2, 2, 36);
    font-size: 25px;
    border: 2px solid rgb(2, 2, 36);
    padding: 6px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 150;
    text-decoration: none;
}
nav a:hover{
    background-color:rgb(16, 16, 141) ;
}
.login-status {
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
  }
  
  .log-out {
    position: absolute;
    right: 10px;
  }
  
  .login-status .bubble {
    padding: 10px;
    background-color: rgb(16, 16, 141);
    font-size: 19px;
  }

body {
    background-color: rgb(247, 242, 242);
    text-align: center;
}
img {
    height: 200px;
    width: 500px;
    padding-left: 25px;
    padding-top: 25px;
    float: left;
}
#wrapper{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    height: 80%;
    width: 60%;
    top: 20%;
    left: 20%;
}

#about {
    color: rgb(2, 2, 36);
    padding-top: 25px;
}

.already {
    color:blue;
    padding-top: 15px;
    font-size: 25px;
}
td {
    padding:25px
}

table, th, td {
    border: 1px solid black;
  }

input, select {
    width:33%;
    padding:12px 20px;
    box-sizing: border-box;
    margin: 8px 0;

}

label {
    padding-right: 10%;
}

.signup{
    text-align: left;
}

.form-signin-heading{
    color: black;
    padding-top: 25px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    
}

.login-page {
    text-align: left;
    padding-left: 53px;
    font-size: 43px;
}

.login-button{
<<<<<<< HEAD
    font-size: 25px;
}






























































.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table thread tr {
    background-color:blue;
    color:chartreuse;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px
=======
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
>>>>>>> c34429cbbcb4f85246e76f27a99432721070e0ed
}
