<wrapper>
  
    <form action="/loginPage" method="post"> 
    <input type="text" name="email" id="inputEmail" placeholder="Username" required>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
    <button class="" type="submit">Login</button>
    </form>
</wrapper>