<img src="/images/homeSlider.jpg" alt="">

<wrapper>
<p>Log in or sign up here</p>

<a href="./signUp/signUp">
    <span class="button">Sign Up</span>
</a>
<li></li>
<a href="./signUp/loginPage">
    Log in
</a>
</wrapper>