<!-- <img src="/images/homeSlider.jpg" alt=""> -->

<div id="signup">
  
<form action="/users" method="post">
    <h2 class="form-signin-heading">Create an Account:</h2>

    <label for="email">Email:</label>
    <input type="text" name="email" id="inputEmail" placeholder="Email" autofocus>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" autofocus>
    <br>
    
    <label for="accountType">Account Type:</label>
    <select name="accountType" id="accountType" placeholder="Business / Client" autofocus>
      <option value="Business">Business</option>
      <option value="Client">Client</option>
      </select>
    <label for="businessProfileId"></label>
    <input type="hidden" name="businessProfileId" id="businessProfileId" value = "undefined"  autofocus>
    <br>
    <!-- Confirm Password -->

    <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>
  <div class="already">
    Already have an account? <a href="/signUp/loginPage">Sign In</a>
  </div>

