<img src="/images/homeSlider.jpg" alt="">

<wrapper>

<form action="/users/createBusinessProfile" method="post">
    <h2 class="form-signin-heading">Create a Business Profile:</h2>

    <label for="email">Email: <%= user.email %> </label>
    <input type="hidden" name="email" id="email" value = "<%=user.email%>" placeholder="Email" autofocus>
    <br>
    <label for="companyName">Company name</label>
    <input type="text" name="companyName" id="companyName" placeholder = "Company Name" autofocus>
    <br>
    <label for="city">City</label>
    <input type="text" name="city" id="city" placeholder = "City" autofocus>
    <br>
    <label for="state">State</label>
    <input type="text" name="state" id="state" placeholder = "State" autofocus>
    <br>
    <label for="zipCode">Zip Code</label>
    <input type="number" name="zipCode" id="zipCode" placeholder = "Zip Code" autofocus>
    <br>
    <label for="service">Service:</label>
    <ul>
    <input type="checkbox" name="service" value="Plumbing" >Plumbing
    <input type="checkbox" name="service" value="Electrical" >Electrical
    <input type="checkbox" name="service" value="Construction" >Construction
    <input type="checkbox" name="service" value="Mechanical" >Mechanical
    <input type="checkbox" name="service" value="Transportation" >Transportation
    </ul>
    <br/><button type="submit">Create</button>
</form>
</wrapper>