<img src="/images/homeSlider.jpg" alt="">

<wrapper>

<form action="/users/${user._id}/createBusinessProfile" method="post">
    <h2 class="form-signin-heading">Create a Business Profile:</h2>

    <label for="email">Email</label>
    <input type="text" name="email" id="inputEmail" placeholder="<%user.email%>" autofocus>

</form>
</wrapper>