<img src="/images/homeSlider.jpg" alt="">

<wrapper>

<form action="/users/createBusinessProfile/${user._id}" method="post">
    <h2 class="form-signin-heading">Create a Business Profile:</h2>

    <label for="email">Email</label>
    <input type="text" name="email" id="inputEmail" value = "<%= user.email %>" placeholder="Email" autofocus>

</form>
</wrapper>