<img src="/images/homeSlider.jpg" alt="">
<wrapper>
    <% business.forEach(business => { %>
    <% if(business.service.includes("Construction")){ %> 
      <p>
        Hello
        <%= business.companyName %>
          </p>
      <% }}) %>
    </wrapper>